/* Base Application Styles */
body {
	color: #000;
	background: #fff;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

p{
	margin: 0;
}
input[type="text"],
input[type="password"] {
	width: 100%;
	border: none;
	border-radius: 0;
	height: 2rem;
	margin-bottom: 15px;
}

#app {
	background-color: #eee;
}
.m-slider {
	width: 100%;
	height: 3.873rem;
}

.split-line{
	position: absolute;
    top: .42666667rem;
    right: 0;
    display: inline-block;
    height: .58666667rem;
    width: 1px;
    background-color: #DDD;
}