.player {
    position: relative;
    width: 100%;
    height: 5.66666667rem;
    overflow: hidden;
}
.info-area {
    height: 3.06666667rem;
    background-color: #fff;
    padding: 0 .32rem;
}
.info-handle {
    height: 1.44rem;
    white-space: nowrap;
}