.image-group {
    position: relative;
    display: inline-block;
    width: 3.22rem;
    text-align: center;
    line-height: 1.44rem;
    color: #666;
    font-size: .37333333rem;

    .icon {
        width: .66666667rem;
        height: .53333333rem;
        vertical-align: top;
        margin-top: .45333333rem;
        margin-right: .24rem;
        background: 0 0;
    }
}
