.more{
    height: 1.08695652rem;
    line-height: 1.08695652rem;
    text-align: center;
    border: 1px solid #DDD;
    font-size: .373333333rem;
    color: #7A7A7A;
    border-radius: .1333333rem;
}
